# Slack Configuration
SLACK_BOT_TOKEN=
SLACK_CHANNEL=
SLACK_WEBHOOK_URL=

# Email Configuration
EMAILJS_URL=
EMAILJS_TEMPLATE=
EMAILJS_USER_ID=
ADMIN_EMAIL=

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=

# Environment
NODE_ENV=
